<!DOCTYPE html>
<html lang="en" ng-app="products">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
<div ng-controller="NewProductsCtrl as NewProductsCtrl">
    <div ng-repeat="p in NewProductsCtrl.products">
        <h2>{{p.itemName}}</h2>
        <h2>Price: {{p.price}}</h2>
        <br>
        <input ng-model="quantity">
    </div>
</div>
<script type="text/javascript">
    var app = angular.module('products', []);

    app.controller('NewProductsCtrl', ['$http' , function ($http) {

    var requestUrl = "http://localhost:4000/allitems";

    var ctrl = this;

    $http.get(requestUrl).then(function (response) {
    var returnData = response.data;
    ctrl.products= returnData;
    console.log(ctrl.products);
    }, function (errResponse) {
    console.error('Error while fetching products');
    });

    }]);
</script>
</body>
</html>