<div ng-controller="mainController as mainCtrl" >
    <div ng-controller="cartController as cartCtrl">
        <div class="hotandnew" ng-controller="productsController as productsCtrl" >
            <div ng-init="productsCtrl.getall()">
                <br><br>
                <table>
                    <tr>
                        <td class="fordarkblue" colspan="2"><label>Search: </label>&emsp;&nbsp;
                            <input class="fordarkblue" type="text" ng-model="productsCtrl.forsearch.text" placeholder="Search in items">&emsp;
                            <button id="btn3" ng-click="productsCtrl.search(); productsCtrl.resetsort()" style="margin-left: 35px">Search!</button></td>
                    </tr>
                    <tr>
                        <td class="fordarkblue" colspan="2"><lable>Sort By: </lable>&nbsp;&nbsp;&nbsp;<select style="margin-left: 2px" class="fordarkblue" ng-model="productsCtrl.sortby"
                                                                                          ng-options="date as date for date in productsCtrl.options"
                                                                                          ng-change="productsCtrl.sort()">
                        </select>&emsp;<button id="btn3" ng-click="productsCtrl.resettext(); productsCtrl.resetsort(); productsCtrl.search()"> Reset Search </button></td>
                    </tr>
                    <!--<th style="font-size: 30px; width: 50%" ng-show="mainCtrl.userservice.isLoggedIn">Just for you!</th>-->
                    <tr>
                        <td width="10%" rowspan="10" valign="top" style="border-right-color: #003366; border-right-style: solid">
                            <br>
                            <form class="form-group" ng-submit="productsCtrl.getall2(); productsCtrl.resetsort(); productsCtrl.resettext()">
                                <label>Filter by Categories:</label><br>
                                <label ng-repeat="(cat, enabled) in productsCtrl.cats track by cat">
                                    <input
                                            type="checkbox"
                                            ng-required="false"
                                            class="form-control"
                                            ng-model="productsCtrl.cats[cat]"
                                            name = "favsInput"> {{productsCtrl.allcategories[cat]['name']}}<br>
                                </label>
                                <input type="submit" id="btn"
                                       class="btn btn-success btn-lg"
                                       value="Filter!">
                            </form>
                        </td>
                        <td width="45%" align="center" valign="top" style="padding-left: 10px">
                            <br>
                            <table ng-hide="productsCtrl.filter || productsCtrl.searching" ng-repeat="rows in productsCtrl.allitmes">
                                <tr style="border-bottom-color: #009999; border-bottom-style: solid">
                                    <td class="tablecell"><img class ="diskPic" ng-src="{{rows[3]}}" ng-show="rows[3]" height="130" width="200"/></td>
                                    <td class="tablecell">{{rows[0]}}<br>{{rows[6]}}<br>{{rows[2]}}<br></td>
                                    <td class="tablecell">
                                        <!--&emsp;&emsp;&emsp;<input min="1" type="number" ng-required="true" name="quantity" value="1" ng-model="productsCtrl.quantities[rows[0]]"><br><br>-->
                                        &emsp;&emsp;&emsp;<label style="float:left">Amount:&emsp;</label><input type="number" ng-model="productsCtrl.userservice.quantities1[rows[4]]" value="1" min="1" style="width: 30px" class="fordarkblue"><br><br>
                                        &emsp;&emsp;&emsp;<input class="btn2" type="button" value="Add to cart!" ng-click="productsCtrl.addToCart(rows)"><br>
                                        &emsp;&emsp;&emsp;<input class="btn2" type="button" value="full Product Details" ng-click="cartCtrl.desopen(rows)"><br>
                                    </td>
                                </tr>
                            </table>
                            <table ng-hide="!productsCtrl.filter" ng-repeat="rows in productsCtrl.allitmes">
                                <tr style="border-bottom-color: #009999; border-bottom-style: solid">
                                    <td class="tablecell"><img class ="diskPic" ng-src="{{rows[3]}}" ng-show="rows[3]" height="130" width="200"/></td>
                                    <td class="tablecell">{{rows[0]}}<br>{{rows[6]}}<br>{{rows[2]}}<br></td>
                                    <td class="tablecell">
                                        <!--&emsp;&emsp;&emsp;<input min="1" type="number" ng-required="true" name="quantity" ng-model="productsCtrl.quantities[rows[0]]"><br><br>-->
                                        &emsp;&emsp;&emsp;<label style="float:left">Amount:&emsp;</label><input type="number" ng-model="productsCtrl.userservice.quantities1[rows[4]]" value="1" min="1" style="width: 30px" class="fordarkblue"><br><br>
                                        &emsp;&emsp;&emsp;<input class="btn2" type="button" value="Add to cart!" ng-click="productsCtrl.addToCart(rows)"><br>
                                        &emsp;&emsp;&emsp;<input class="btn2" type="button" value="full Product Details" ng-click="cartCtrl.desopen(rows)"><br>
                                    </td>
                                </tr>
                            </table>
                            <table ng-repeat="rows in productsCtrl.allitmes" style="padding-left: 10px" ng-show="productsCtrl.searching">
                                <tr style="border-bottom-color: #009999; border-bottom-style: solid">
                                    <td class="tablecell"><img class ="diskPic" ng-src="{{rows[3]}}" ng-show="rows[3]" height="130" width="200"/></td>
                                    <td class="tablecell">{{rows[0]}}<br>{{rows[6]}}<br>{{rows[2]}}<br></td>
                                    <td class="tablecell">
                                        <!--&emsp;&emsp;&emsp;<input min="1" type="number" ng-required="true" name="quantity" value="1" ng-model="productsCtrl.quantities[rows[0]]"><br><br>-->
                                        &emsp;&emsp;&emsp;<label style="float:left">Amount:&emsp;</label><input type="number" ng-model="productsCtrl.userservice.quantities1[rows[4]]" value="1" min="1" style="width: 30px" class="fordarkblue"><br>
                                        &emsp;&emsp;&emsp;<input class="btn2" type="button" value="Add to cart!" ng-click="productsCtrl.addToCart(rows)"><br><br>
                                        &emsp;&emsp;&emsp;<input class="btn2" type="button" value="full Product Details" ng-click="cartCtrl.desopen(rows)"><br>
                                    </td>
                                </tr>
                            </table>
                            <span class="hotandnew" ng-show="cartCtrl.showde">
                                <div class="modal2">
                                    <div class="modal-content">
                                        <table valign="top" width="100%">
                                            <tr>
                                                <td style="color:#003366"><h1>{{cartCtrl.det[0].substring(5)}}</h1></td>
                                                <td colspan="2" valign="top" align="right"><button class="close" id="btn3" ng-click="cartCtrl.desopen()" >&times;</button></td>
                                            </tr>
                                            <tr class="fordarkblue">
                                                <td valign="top"> <img ng-src="{{cartCtrl.det[3]}}"  height="130" width="200"/> </td>
                                            <td style="padding-left: 10px">{{cartCtrl.det[0]}}<br>{{cartCtrl.det[1]}}<br>{{cartCtrl.det[5]}}<br>{{cartCtrl.det[6]}}<br>{{cartCtrl.det[2]}}<br></td>
                                            <td valign="top">
                                                <form name="purForm" ng-submit="productsCtrl.addToCart(cartCtrl.det)" novalidate>
                                                    <!--&emsp;<lable>Amount: </lable>
                                                    <input min="1" type="number" ng-required="true" name="quantity" value="1" ng-model="productsCtrl.quantities[rows[0]]"><br><p ng-show="purForm.quantity.$invalid && !purForm.quantity.$pristine" class="help-block">must be 1 and up</p>
                                                    -->
                                                    <br>&emsp;<input type="submit" class="btn2" ng-disabled="purForm.$invalid" value="Add to cart!" >
                                                </form>
                                            </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td width="45%" align="center" valign="top" style="padding-left: 10px">
                            <table  ng-show="mainCtrl.userservice.isLoggedIn" ng-repeat="rows in productsCtrl.recommendation">
                                <h1 class="fordarkblue" style="font-size: 32px" ng-show="mainCtrl.userservice.isLoggedIn && productsCtrl.recommendation.length!=0">Just for you!</h1>
                                <tr style="border-bottom-color: #009999; border-bottom-style: solid">
                                    <td><img class ="diskPic" ng-src="{{rows[3]}}" ng-show="rows[3]" height="130" width="200"/></td>
                                    <td>{{rows[0]}}<br>{{rows[6]}}<br>{{rows[2]}}<br></td>
                                    <td class="tablecell">
                                        <!--&emsp;&emsp;&emsp;<input min="1" type="number" ng-required="true" name="quantity" value="1" ng-model="productsCtrl.quantities[rows[0]]"><br><br>-->
                                        &emsp;&emsp;&emsp;<label style="float:left">Amount:&emsp;</label><input type="number" ng-model="productsCtrl.userservice.quantities1[rows[4]]" value="1" min="1" style="width: 30px" class="fordarkblue"><br><br>
                                        &emsp;&emsp;&emsp;<input class="btn2" type="button" value="Add to cart!" ng-click="productsCtrl.addToCart(rows)"><br>
                                        &emsp;&emsp;&emsp;<input class="btn2" type="button" value="full Product Details" ng-click="cartCtrl.desopen(rows)"><br>
                                    </td>
                                </tr>
                            </table>
                            <span class="hotandnew" ng-show="cartCtrl.showde">
                                <div class="modal2">
                                    <div class="modal-content">
                                        <table valign="top" width="100%">
                                            <tr>
                                                <td style="color:#003366;"><h1>{{cartCtrl.det[0].substring(5)}}</h1></td>
                                                <td colspan="2" valign="top" align="right"><button class="close" id="btn3" ng-click="cartCtrl.desopen()" >&times;</button></td>
                                            </tr>
                                            <tr class="fordarkblue">
                                                <td valign="top"> <img ng-src="{{cartCtrl.det[3]}}"  height="130" width="200"/> </td>
                                            <td style="padding-left: 10px">{{cartCtrl.det[0]}}<br>{{cartCtrl.det[1]}}<br>{{cartCtrl.det[5]}}<br>{{cartCtrl.det[6]}}<br>{{cartCtrl.det[2]}}<br></td>
                                            <td valign="top">
                                                <form name="purForm" ng-submit="productsCtrl.addToCart(cartCtrl.det)" novalidate>
                                    <label style="float: left">Amount:&emsp;</label><input type="number" ng-model="productsCtrl.userservice.quantities1[cartCtrl.det[4]]" value="1" min="1" style="width: 30px" class="fordarkblue"><br><br>
                                        &emsp;&emsp;&emsp;<input class="btn2" type="button" value="Add to cart!" ng-click="productsCtrl.addToCart(cartCtrl.det)"><br>
                                 </form>
                                            </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>